<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Hello</title>
</head>
<body>
<h1>Content</h1>
After Login
<h2 th:text="'ようこそ: ' + ${user.userName + 'くん'}"/>
<h2 th:text="'TwitterIDは: ' + ${user.userId} + 'です'"/>
<form action="/logout" method="get">
    <button type="submit" th:text="logout">Logout</button>
</form>
</body>
</html>