<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Login to Twitter</title>
</head>
<body>
<h3>Login to Twitter</h3>
<form action="/loginexec" method="get">
    <button type="submit" th:text="login">Login</button>
</form>
</body>
</html>